html {
    margin: 0;
    padding: 0;
    font-family: Calibri;
    box-sizing: border-box;
}

/*scrollbar color & size*/
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #D3D3D3;
}

::-webkit-scrollbar-thumb {
    background: #033766;
}

img {
    width: 60px;
    height: 70px;
   
}
:root {
    --clr:#CDD9E7;
}

body {
   height: auto;
    background: var(--clr);
	transition: all 0.3s ease;
    overflow-x: hidden;
}

.sidebar {
    position: absolute;
    width: 110px;
    height: 98vh;
    background: #fff;
    transition: 0.5s;
    padding-left: 5px;
    overflow: hidden;
    border-radius: 20px;
}

.sidebar.active {
    width: 400px;
    border-radius: 20px;
}


.sidebar ul {
    position: relative;
    height: 95vh;
}

.sidebar ul li {
    position: relative;
    list-style: none;
}

.sidebar ul li.active {
    background: var(--clr);
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
}

.sidebar ul li.active::before {
    content: '';
    position: absolute;
    top: -20px;
    right: 0;
    width: 20px;
    height: 20px;
    border-bottom-right-radius: 20px;
    box-shadow: 5px 5px 0 5px var(--clr);
    background: transparent;
}

.sidebar ul li.active::after {
    content: '';
    position: absolute;
    bottom: -20px;
    right: 0;
    width: 20px;
    height: 20px;
    border-top-right-radius: 50x;
    box-shadow: 5px -5px 0 5px var(--clr);
    background: transparent;
}

.sidebar ul li.logo {
    margin-bottom: 50px;
}

.sidebar ul li.logo .text {
    overflow: hidden;
}

.sidebar ul li a {
    position: relative;
    display: flex;
    white-space: nowrap;
    text-decoration: none;
}

.sidebar ul li a .icon {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 60px;
    padding-left: 6px;
    height: 70px;
    font-size: 1.6em;
    color: #333;
    transition: 0.5s;
	cursor: pointer;
}

.sidebar ul li a .text {
    position: relative;
    height: 70px;
    display: flex;
    align-items: center;
    font-size: 1em;
    color: #333;
    padding-left: 15px;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    transition: 0.5s;
	cursor: pointer;
}

.sidebar ul li.active a .icon {
    color: #fff;
}

.sidebar ul li.active a .text {
    color: var(--bg)
}

.sidebar ul li:hover a .icon,
.sidebar ul li:hover a .text {
    color: var(--bg);
}

.sidebar ul li.active a .icon::before {
    content: '';
    position: absolute;
    inset: 5px;
    width: 60px;
    background: var(--bg);
    border-radius: 50%;
    transition: 0.5s;
}

.sidebar ul li:hover.active a .icon::before {
   background: #fff;
}

.bottom {
    position: absolute;
    bottom: 0;
    width: 100%;
}

.menuToggle {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 40px;
    height: 40px;
    background: #033766;
    z-index: 1000;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menuToggle::before {
    content: '';
    position: absolute;
    width: 25px;
    height: 3px;
    background: #fff;
    transform: translateY(-9px);
    transition: 0.5s;
    box-shadow: 0 9px 0 #fff;
}

.menuToggle::after {
    content: '';
    position: absolute;
    width: 25px;
    height: 3px;
    background: #fff;
    transform: translateY(9px);
    transition: 0.5s;
}

.menuToggle.active::before {
    transform: translateY(0px) rotate(45deg);
    box-shadow: 0 0 0 #fff;
}

.menuToggle.active::after {
    transform: translateY(0px) rotate(-45deg);
}

.main {
    width: calc(100% - 110px); /* Adjust width to accommodate the sidebar */
    padding: 20px; /* Example padding */
    margin-left: 110px; /* Set margin to accommodate the sidebar */
    transition: margin 0.5s ease;
	
}
  

.sidebar.active {
    width: 250px; /* Sidebar width when active */
}
  
.sidebar.active ~ .main {
    margin-left: 250px; /* Adjust margin to show/hide the sidebar */
    transition: 0.3s ease;
}



label {
  display: block;
  margin-top: 10px;
  font-weight: bold;
  font-family: Calibri;
}

input[type="text"],
input[type="email"],
input[type="password"] {
  width: 50%;
  padding: 10px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button {
  background-color: #007BFF;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 20px;
}

button:hover {
  background-color: #0056b3;
}

table {
            width: 90%;
            border-collapse: collapse;
            margin-top: 20px;
			table-layout:fixed;
        }

        th {
            padding: 12px;
            text-align: center;
            border: 1px solid #dddddd;
			
			
        }
		
		td {
            padding: 12px;
            text-align: left;
            border: 1px solid #dddddd;
        }
		

        th, td {
            background-color: #f2f2f2;
        }

        


