html, body {
    margin: 0;
    padding: 0;
    height: auto;
    overflow-x: hidden;
	font-family: Calibri;
    scroll-behavior: smooth;
}

/*scrollbar color & size*/
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #D3D3D3;
}

::-webkit-scrollbar-thumb {
    background: #033766;
}

.container {
    margin-left: 190px;
	margin-right: 200px;
    margin-top: 50px;
	margin-bottom: 70px;
	border: 2px #011e60 solid;
	border-radius: 10px;
	height: 600px;
	box-shadow: 15px 10px #011e60;
}

.logo {
    margin-top: 50px;
    margin-left: 470px;
    margin-right: 500px;
    width: 200px;
    height: 200px;

}

h2 {
	text-align: center;
}

p {
	text-align: center;
	color: gray;
}

form {
    display: block;
    width: 50%; /* You can adjust the width as needed */
    margin-left: 25%;
    text-align: center;
}

form input, form select, form button {
    display: block;
    margin: 10px auto;
    width: 70%; /* You can adjust the width as needed */
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
	font-family: Calibri;
}

form button {
	font-family: Calibri;
    width: 250px;
    height: 40px;
    font-size: 15px;
    border-radius: 10px;
    border: 3px solid #033766;
    background: #033766;
    color: #f4f4f4;
	cursor: pointer;
    transition: cubic-bezier(0.18, 0.89, 0.32, 1.28) 0.3s, transform 0.2s ease-out;
}

form button:hover {
	background: #033766;
	color: #f4f4f4;
	font-size: 17px;
	transform: scale (1.1);
}

.fa-eye {
	position: absolute;
	top: 69.4%;
	left: 61%;
	cursor: pointer;
	color: lightgray;
}

.fa-eye-slash {
	position: absolute;
	top: 69.4%;
	left: 61%;
	cursor: pointer;
	color: lightgray;
	
}
